.header-ghost-wrapper {
  background-color: black;
}

.HeadLine {
  color: #f50057;
  font-size: 33px;
  font-weight: bold;
}

.ButtonList {
  color: #f50057;
  background-color: black;
  font-weight: bold;
}

.Button {
  color: #fff;
  background-color: #f50057;
  font-weight: bold;
}
